<nav>
    <button><a href="{% url 'conference_home' %}">Home</a></button> 
    <button><a href="{% url 'conference_lv' %}">Conference List</a></button>
    <button><a href="{% url 'login' %}">Login</a></button>
    <button><a href="{% url 'logout' %}">Logout</a></button>
</nav>
<br>
<br>
<table border="1" cellpadding="5" cellspacing="0" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Theme</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for conference in conferences %}
        <tr>
            <td>{{ conference.name }}</td>
            <td>{{ conference.theme }}</td>
            <td>{{ conference.location }}</td>
            <td>{{ conference.start_date }}</td>
            <td>{{ conference.end_date }}</td>
            <td>
                <button><a href="{% url 'conference_detail_lv' conference.pk %}">View Details</a></button>
                <button><a href="{% url 'conference_delete_lv' conference.pk %}">Delete</a></button>
                <button><a href="{% url 'conference_update_lv' conference.pk %}">Update</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>